.education-container {
    background-color: inherit;
}

.scroll-down {
    cursor: pointer;
    margin-top: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}