.light-theme {
  --bg-image: url("data:image/svg+xml,%3Csvg%20id%3D'patternId'%20width%3D'100%25'%20height%3D'100%25'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern%20id%3D'a'%20patternUnits%3D'userSpaceOnUse'%20width%3D'87'%20height%3D'50.232'%20patternTransform%3D'scale(2)%20rotate(0)'%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'%23faefe6'%2F%3E%3Cpath%20d%3D'M0%2054.424l14.5-8.373c4.813%202.767%209.705%205.573%2014.5%208.37l14.5-8.373V29.303M0%204.193v16.744l-14.5%208.373L0%2037.68l14.5-8.374V12.562l29-16.746m43.5%2058.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5%2025.111L87%2037.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5%208.373-14.5-8.37v-33.489m72.5%208.365L87%204.183l-14.5-8.37M87%204.183v16.745L58%2037.673v16.744m0-66.976V4.185L43.5%2012.56c-4.795-2.797-24.187-13.973-29-16.74L0%204.192l-14.5-8.37m29%2033.484c4.813%202.767%209.705%205.573%2014.5%208.37V54.42'%20stroke-linejoin%3D'round'%20stroke-linecap%3D'round'%20stroke-width%3D'1'%20stroke%3D'%23e9e7dd'%20fill%3D'none'%2F%3E%3C/pattern%3E%3C/defs%3E%3Crect%20width%3D'800%25'%20height%3D'800%25'%20transform%3D'translate(0%2C0)'%20fill%3D'url(%23a)'%2F%3E%3C/svg%3E");
  --text-color: #fd883d;
  --bs-heading-color: #fd883d;
  /* --bs-heading-color: #936C4B; */
  --bs-navbar-color: #d46bca !important;
  --bs-nav-link-color: #d46bca !important;
  --bs-emphasis-color-rgb: #d46bca !important;
  --bs-navbar-brand-color: #d46bca !important;
  --bs-navbar-brand-hover-color: #d46bca !important;
  --bs-nav-link-hover-color: #d46bca !important;
  --bs-navbar-hover-color: #d46bca !important;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(212, 107, 202, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E") !important;
  --animation-main-color: #f1f1f1 !important;
  --primary-color: #d46bca;
  /* --primary-color: #489AA8; */
  --secondary-color: #fd883d;
  /* --secondary-color: #936C4B; */
  --tertiary-color: #553566;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --game-border: #333;
  --skill-bar-bg: #e1d9d2;
  --skills-box-shadow: rgba(0, 0, 0, 0.1);
  --slides-background: rgba(0, 0, 0, 0.15);
  --contact-input-background: #ffffff;
  --contact-input-placeholder: #636668;
  --contact-input-color: #000;
}

.dark-theme {
  --bg-image: url("data:image/svg+xml,%3Csvg%20id%3D'patternId'%20width%3D'100%25'%20height%3D'100%25'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern%20id%3D'a'%20patternUnits%3D'userSpaceOnUse'%20width%3D'87'%20height%3D'50.232'%20patternTransform%3D'scale(2)%20rotate(0)'%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'%23212529'%2F%3E%3Cpath%20d%3D'M0%2054.424l14.5-8.373c4.813%202.767%209.705%205.573%2014.5%208.37l14.5-8.373V29.303M0%204.193v16.744l-14.5%208.373L0%2037.68l14.5-8.374V12.562l29-16.746m43.5%2058.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5%2025.111L87%2037.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5%208.373-14.5-8.37v-33.489m72.5%208.365L87%204.183l-14.5-8.37M87%204.183v16.745L58%2037.673v16.744m0-66.976V4.185L43.5%2012.56c-4.795-2.797-24.187-13.973-29-16.74L0%204.192l-14.5-8.37m29%2033.484c4.813%202.767%209.705%205.573%2014.5%208.37V54.42'%20stroke-linejoin%3D'round'%20stroke-linecap%3D'round'%20stroke-width%3D'1'%20stroke%3D'%23615a6960'%20fill%3D'none'%2F%3E%3C/pattern%3E%3C/defs%3E%3Crect%20width%3D'800%25'%20height%3D'800%25'%20transform%3D'translate(0%2C0)'%20fill%3D'url(%23a)'%2F%3E%3C/svg%3E");
  --text-color: #03dac6;
  --bs-heading-color: #03dac6;
  --bs-navbar-color: #c38fff !important;
  --bs-nav-link-color: #c38fff !important;
  --bs-emphasis-color-rgb: #c38fff !important;
  --bs-navbar-brand-color: #c38fff !important;
  --bs-navbar-brand-hover-color: #c38fff !important;
  --bs-nav-link-hover-color: #c38fff !important;
  --bs-navbar-hover-color: #c38fff !important;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(195, 143, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E") !important;
  --animation-main-color: #0c0c0c !important;
  --primary-color: #c38fff;
  --secondary-color: #03dac6;
  --tertiary-color: #DBA55A;
  --nav-bg: #141414cc;
  --game-border: #f1f1f1;
  --skill-bar-bg: #534e4e;
  --skills-box-shadow: rgba(255, 255, 255, 0.7);
  --slides-background: rgba(255, 255, 255, 0.15);
  --contact-input-background: #6d6666;
  --contact-input-placeholder: #ece4e4;
  --contact-input-color: #fff;
}

body {
  background: var(--bg-image);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
  padding: 8% 10% 10%;
}

@media (max-width: 900px) {
  body {
    padding: 13% 10% 20%;
  }
}

@media (max-width: 500px) {
  body {
      padding: 21% 10% 30%;
  }
}