.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-effects {
  width: 100%;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  background: inherit;
  font-weight: 700;
}

.navbar-effects.scrolled {
  background: inherit;
  backdrop-filter: blur(10px);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      width: 100%;
      justify-content: flex-end;
      gap: 10px;
  }
}

.iconMiddle {
  vertical-align: top;
  margin-right: 10px;
}

.me-auto.navbar-nav {
  text-align: right;
}

.navbar-collapse {
  text-align: right;
}

.nav-link:focus, .nav-link:hover, .nav-link:active {
  text-decoration: underline;
}