.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-effects {
  width: 100%;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  background: inherit;
  font-weight: 700;
  color: var(--primary-color);
}

.navbar-effects.scrolled {
  background: inherit;
  color: var(--primary-color);
  backdrop-filter: blur(10px);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
  }
}

.iconMiddle {
  vertical-align: top;
  margin-right: 10px;
}

.me-auto.navbar-nav {
  text-align: right;
}

.navbar-collapse {
  text-align: right;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
}

.navbar {
  padding: 0px !important;
}

.navbar-brand {
  padding: 0px !important;
  margin: 0px !important;
}

.footer-effects {
  width: 100%;
  background: inherit;
  font-weight: 700;
  background: inherit;
  color: var(--primary-color);
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 10%;
  z-index: 4;
}

.footer-links {
  color: inherit;
}

.progressBar {
  display: flex;
  justify-content: center;
  margin-top: -110px !important;
}

.progressBar div {
  width: 400px !important;
  height: 200px !important;
}

.progressBarTagline {
  /* margin-top: -54px; */
  display: flex;
  justify-content: center;
}

.normalText {
  color: var(--primary-color);
}

.scroll-down {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.scroll-down svg {
  font-size: 2.2rem;
  fill: white;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}